@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drag-active {
    border-color: #00355f !important;
    background-color: #f0f7ff !important;
  }
  .drag-active .material-symbols-outlined {
    color: #fc9430 !important;
    transform: scale(1.1);
  }
}